include README
include COPYING
include ChangeLog
include Makefile
include *.md
include doc/*
include 2ping
include 2ping.spec
include 2ping6
include 2ping.bash_completion
include tests/*.py
include wireshark/*
